.CrearProyecto {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 87vh; 
    background-color: #f7f7f7; 
    padding: 20px;
    margin: 0; 
    background-color: rgb(249 250 251);
}

/* Contenedor del formulario */
  .formulario {
    max-width: 60rem;
    max-height: 60rem;
    border-style: solid;
    border-color: transparent;
    padding: 5px;
  }

  
  
  /* Estilo para cada grupo de formulario */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Estilo para etiquetas */
  .form-group label {
    display: block;
    color: #000000;
    margin-bottom: 5px;
  }
  
  /* Estilo general para entradas de texto */
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
  }

  .form-textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Estilo para select */
  .form-select {
    width: 100%;
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
  }
  
  /* Efectos al interactuar con los inputs y selects */
  .form-input:focus {
    border-color: #4f46e5;
    outline: none;
  }
  .form-textarea:focus {
    border-color: #4f46e5;
    outline: none;
  }

  .form-select:focus {
    border-color: #4f46e5;
    outline: none;
  }
  
  /* Estilo para textarea */
  .form-input.textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  /* Estilo para selects deshabilitados */
  .form-select:disabled {
    background-color: #e5e7eb;
    color: #9ca3af;
    cursor: not-allowed;
  }